<div class="doctor-holder" (click)="onClick()">
  <div class="body">
    <div class="avatar">
      <ion-avatar>
        <img src="assets/images/image_2.png">
      </ion-avatar>
      <!-- TODO: Add Rating Component-->
      <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="info">
      <h3><b>Dr Jakie Shan</b></h3>
      <p>
        <ion-icon color="danger" name="disc-outline"></ion-icon>
        Sr. Dermatology</p>
      <p>
        <ion-icon color="danger" name="disc-outline"></ion-icon>
        Price: 300EGP</p>
      <p>
        <ion-icon color="danger" name="disc-outline"></ion-icon>
        Naser City</p>
    </div>
    <div class="nav-btn">
      <ion-button fill="clear" size="large">
        <ion-icon color="danger" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="footer ion-flex ion-justify-content-between">
    <p>Available Today From <b>10PM</b></p>
    <ion-button color="danger" fill="outline" shape="round">
      Book
    </ion-button>
  </div>
</div>
